@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.LandingPage {
    font: 20px "Outfit", sans-serif;
    color: #0E0670;
    background: linear-gradient(80deg, #d8f0ff, #fff1e6, #f4ecff);
    background-size: 600% 600%;
    animation: AnimationName 20s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

@keyframes AnimationName { 
    0% { background-position: 0% 51%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 51%; }
}

.firstTitle {
    font-size: 50px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 20px;
}

.secondTitle {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 30px;
}

.landingPage-photo {
    margin-top: 20px;
}

.photo1 {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.section {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

.luxbite-project {
    text-align: center;
    margin-bottom: 20px;
}

.luxbite-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.section-about, .section-cv, .section-contact {
    background-color: #d8f0ff;
    border: #0E0670 solid 2px;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
}

.aboutMe {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.cv-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.contact {
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .firstTitle {
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .secondTitle {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .photo1 {
        width: 60%;
    }

    .luxbite-img, .cv-img {
        width: 80%;
    }

    .section-about, .section-cv, .section-contact {
        padding: 20px;
        margin: 10px;
    }

    .aboutMe {
        font-size: 16px;
    }
}