@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.Project3,
.Project4 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 200px;
  border: solid 2px #0e0670;
  color: #0e0670;
  font: 20px "Outfit", sans-serif;
}
