html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(80deg, #eaf6fd, #ffede7, #c5e6fa, #d9e1ff);
    height: 100%; /* Ensure the background covers the viewport */
    width: 100%;
  }